# Archivos compilados
*.class
*.jar
*.war
*.ear

# Directorios de construcción
target/
build/
out/
bin/

# IDE específico
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de dependencias Maven
dependency-reduced-pom.xml