# Archivos compilados de Java
*.class

# Archivos de IDE
.idea/
*.iml
.classpath
.project
.settings/
bin/

# Archivos del sistema
.DS_Store
Thumbs.db

# Directorios de construcción
target/
build/
out/